@import url('https://fonts.googleapis.com/css2?family=Allura&family=Charmonman:wght@700&family=Marck+Script&family=Nunito:wght@200&family=Open+Sans:wght@300&family=Work+Sans:wght@200&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #034363;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #8ECAE6;
}

body {
    background-color: white;
    font-family: "Open Sans", "Work Sans", Nunito;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8ECAE6;
}

nav a:hover {
    background-color: #FFD15C;
    color: #034363;
}

.book,
.join {
    background-color: #FFD15C;
    color: #034363;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #8ECAE6;
    color: white;
}

.msg {
    background-color: #034363;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #034363;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #034363;
    font-family: "Marck Script", Allura, Charmonman;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #034363;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #FFD15C;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;
}
.msg h2 {
    font-family: "Marck Script", Allura, Charmonman;
}
.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #FFD15C;
}
.mountains {
    margin-top: 100px;
    margin-bottom: 200px;
}